#mapArea01,#mapArea02,#mapArea03,#mapArea04,#mapArea05{position: absolute;opacity: 0;pointer-events: none;transform: translate(0,0px);transition-duration: 0.3s;}
#mapArea01.show,#mapArea02.show,#mapArea03.show,#mapArea04.show,#mapArea05.show{opacity: 1;transform: translate(0,-10px);}
#mapArea01.on,#mapArea02.on,#mapArea03.on,#mapArea04.on,#mapArea05.on{opacity: 1;transform: translate(0,-10px);}
#mapArea01{width: 37.2%;top: 8%;left: 11%;}
#mapArea02{width: 77%;top: 0%;left:23.2%;}
#mapArea03{width: 69.5%;top: 28.3%;left: 1.5%;}
#mapArea04{width: 48%;top: 50.2%;left: 3.5%;}
#mapArea05{width: 56%;top: 56.2%;left: 41%;}

#mapArea01 .cls-1{fill:#003680;}
#mapArea01 .cls-2{fill:#003c8d;}
#mapArea01 .cls-3{fill:#004199;}
#mapArea01 .cls-4{fill:#003782;}
#mapArea01 .cls-5{fill:#003f95;}
#mapArea01 .cls-6{fill:#003a8a;}
#mapArea01 .cls-7{fill:#003781;}
#mapArea01 .cls-8{fill:#004098;}
#mapArea01 .cls-9{fill:#003e92;}
#mapArea01 .cls-10{fill:#003884;}
#mapArea01 .cls-11{fill:#004097;}
#mapArea01 .cls-12{fill:#003883;}
#mapArea01 .cls-13{fill:#003987;}
#mapArea01 .cls-14{fill:#003f94;}
#mapArea01 .cls-15{fill:#003681;}
#mapArea01 .cls-16{fill:#003d8f;}
#mapArea01 .cls-17{fill:#003b8c;}
#mapArea01 .cls-18{fill:#003986;}
#mapArea01 .cls-19{fill:#0060e3;}
#mapArea01 .cls-20{fill:#fff;}

#mapArea02 .cls-1{fill:#814601;}
#mapArea02 .cls-2{fill:#804501;}
#mapArea02 .cls-3{fill:#985201;}
#mapArea02 .cls-4{fill:#8d4c01;}
#mapArea02 .cls-5{fill:#824601;}
#mapArea02 .cls-6{fill:#955101;}
#mapArea02 .cls-7{fill:#8a4a01;}
#mapArea02 .cls-8{fill:#995301;}
#mapArea02 .cls-9{fill:#844801;}
#mapArea02 .cls-10{fill:#834701;}
#mapArea02 .cls-11{fill:#985301;}
#mapArea02 .cls-12{fill:#945001;}
#mapArea02 .cls-13{fill:#8f4d01;}
#mapArea02 .cls-14{fill:#965101;}
#mapArea02 .cls-15{fill:#884a01;}
#mapArea02 .cls-16{fill:#864801;}
#mapArea02 .cls-17{fill:#874901;}
#mapArea02 .cls-18{fill:#e37b01;}
#mapArea02 .cls-19{fill:#894a01;}
#mapArea02 .cls-20{fill:#844701;}
#mapArea02 .cls-21{fill:#8a4b01;}
#mapArea02 .cls-22{fill:#8e4d01;}
#mapArea02 .cls-23{fill:#8c4c01;}
#mapArea02 .cls-24{fill:#975201;}
#mapArea02 .cls-25{fill:#854801;}
#mapArea02 .cls-26{fill:#904e01;}
#mapArea02 .cls-27{fill:#914e01;}
#mapArea02 .cls-28{fill:#884901;}
#mapArea02 .cls-29{fill:#fff;}

#mapArea03 .cls-1{fill:#005f45;}
#mapArea03 .cls-2{fill:#006348;}
#mapArea03 .cls-3{fill:#00694d;}
#mapArea03 .cls-4{fill:#006046;}
#mapArea03 .cls-5{fill:#005e45;}
#mapArea03 .cls-6{fill:#006f51;}
#mapArea03 .cls-7{fill:#00694c;}
#mapArea03 .cls-8{fill:#006c4f;}
#mapArea03 .cls-9{fill:#00684b;}
#mapArea03 .cls-10{fill:#00674b;}
#mapArea03 .cls-11{fill:#007052;}
#mapArea03 .cls-12{fill:#006247;}
#mapArea03 .cls-13{fill:#00654a;}
#mapArea03 .cls-14{fill:#006a4d;}
#mapArea03 .cls-15{fill:#006449;}
#mapArea03 .cls-16{fill:#007152;}
#mapArea03 .cls-17{fill:#00664a;}
#mapArea03 .cls-18{fill:#006e50;}
#mapArea03 .cls-19{fill:#006b4e;}
#mapArea03 .cls-20{fill:#00684c;}
#mapArea03 .cls-21{fill:#007051;}
#mapArea03 .cls-22{fill:#006248;}
#mapArea03 .cls-23{fill:#006549;}
#mapArea03 .cls-24{fill:#00a87a;}
#mapArea03 .cls-25{fill:#fff;}

#mapArea04 .cls-1{fill:#166700;}
#mapArea04 .cls-2{fill:#176b00;}
#mapArea04 .cls-3{fill:#1a7b00;}
#mapArea04 .cls-4{fill:#166800;}
#mapArea04 .cls-5{fill:#187000;}
#mapArea04 .cls-6{fill:#176d00;}
#mapArea04 .cls-7{fill:#197600;}
#mapArea04 .cls-8{fill:#187100;}
#mapArea04 .cls-9{fill:#1a7900;}
#mapArea04 .cls-10{fill:#176a00;}
#mapArea04 .cls-11{fill:#186f00;}
#mapArea04 .cls-12{fill:#27b700;}
#mapArea04 .cls-13{fill:#1a7800;}
#mapArea04 .cls-14{fill:#197400;}
#mapArea04 .cls-15{fill:#1a7a00;}
#mapArea04 .cls-16{fill:#176800;}
#mapArea04 .cls-17{fill:#186e00;}
#mapArea04 .cls-18{fill:#1a7700;}
#mapArea04 .cls-19{fill:#197200;}
#mapArea04 .cls-20{fill:#197500;}
#mapArea04 .cls-21{fill:#166900;}
#mapArea04 .cls-22{fill:#197300;}
#mapArea04 .cls-23{fill:#176c00;}
#mapArea04 .cls-24{fill:#fff;}

#mapArea05 .cls-1{fill:#80165a;}
#mapArea05 .cls-2{fill:#8a1861;}
#mapArea05 .cls-3{fill:#971a6b;}
#mapArea05 .cls-4{fill:#961a6a;}
#mapArea05 .cls-5{fill:#81165b;}
#mapArea05 .cls-6{fill:#981a6c;}
#mapArea05 .cls-7{fill:#881760;}
#mapArea05 .cls-8{fill:#981a6b;}
#mapArea05 .cls-9{fill:#901966;}
#mapArea05 .cls-10{fill:#8b1862;}
#mapArea05 .cls-11{fill:#e327a1;}
#mapArea05 .cls-12{fill:#84175d;}
#mapArea05 .cls-13{fill:#8e1964;}
#mapArea05 .cls-14{fill:#931968;}
#mapArea05 .cls-15{fill:#82165c;}
#mapArea05 .cls-16{fill:#921967;}
#mapArea05 .cls-17{fill:#991a6c;}
#mapArea05 .cls-18{fill:#8d1864;}
#mapArea05 .cls-19{fill:#941a69;}
#mapArea05 .cls-20{fill:#8c1863;}
#mapArea05 .cls-21{fill:#80165b;}
#mapArea05 .cls-22{fill:#fff;}

.map--areaHover-svg img{display: block;width: 100%;}
#mapArea02.map--areaHover-svg04 {width: 91%;top: 2%;left: 1.2%;}
#mapArea03.map--areaHover-svg05 {width: 50%;top: 49.3%;}
#mapArea04.map--areaHover-svg02 {width: 52%;top: 30.3%;left: 48.5%;}

.map--area-cover{top: 0;left: 0;width: 100%;position: absolute;height: 100%;pointer-events: none;}
.map--area-cover img{width: 100%;display: block;}