.material-symbols-outlined{font-variation-settings: 'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48;}
.bsd--container{padding-top: 20px;padding-bottom: 160px;}
.bsd--contents{margin-top: 60px;}

.bsd--info{width: 100%;max-width: 268px;margin: auto;}
.bsd--info-logo{width: 100%;max-width: 208px;border-top-right-radius: 6px;margin: auto;border-radius: 3px;border: 1px solid #eee;padding: 10px 20px;}
.bsd--info-logo img{width: 100%;display: block;margin: 0;}
.bsd--info-name{font-size: 32px;font-weight: 700;margin: 1em auto 0.75em;line-height: 1;text-align: center;}
.bsd--info-tag{display: flex;justify-content: center;align-items: center;text-align: center;}
.bsd--info-tag p{padding: 6px 14px;border-radius: 20px;font-size: 13px;font-weight: 700;color: #324f9c;background-color: #eff0f5;}
.bsd--info-tag p:first-child{margin-right: 8px;}
.bsd--info-detail{font-size: 13px;display: flex;align-items: center;justify-content: center;margin-top: 24px;}
.bsd--info-detail .bsd--info-line{width: 1px;height:10px;display: block;background-color: #ddd;margin: 0 4px 0 10px;}
.bsd--info-detail .material-symbols-outlined{font-size: 16px;margin-top: 0.1em;}
.bsd--info-detail>div{display: flex;align-items: center;}
.bsd--info-button{margin-top: 40px;display: flex;flex-direction: column;}
.bsd--info-button a{background-color: #000;color: #fff;font-size: 16px;font-weight: 600;text-align: center;display: flex;align-items: center;justify-content: center;padding: 20px;border-radius: 8px;}
.bsd--info-button a:first-child{background-color: #4ace4d;margin-bottom: 8px;}
.bsd--info-sns{display: flex;align-items: center;justify-content: center;margin-top: 24px;}
.bsd--info-sns a{width: 42px;height: 42px;display: flex;align-items: center;justify-content: center;background-color: #f7f7f7;border-radius: 50%;}
.bsd--info-sns a:not(:last-child){margin-right: 8px;}
.bsd--info-sns a img{display: block;}
.bsd--textBox{padding: 68px 0 50px;}
.bsd--textBox:not(:last-child){border-bottom: 1px solid #eee;}
.bsd--text01{font-size: 24px;font-weight: 700;margin-bottom: 1.2em;line-height: 1;}
.bsd--text02{font-size: 16px;line-height: 1.66em;}
.bsd--news-title,
.bsd--event-title,
.bsd--news-exp{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.bsd--newsSwiper .swiper-slide{padding: 24px;border-radius: 8px;background-color: #f7f7f7;height: auto;display: flex;flex-direction: column;justify-content: space-between;border: 1px solid #eeeeee;}
.bsd--news-tag{display: flex;margin-bottom: 20px;}
.bsd--news-tag span{background-color: #000;border-radius: 32px;padding: 10px 16px;font-size: 13px;color: #fff;line-height: 1;}
.bsd--news-title{font-size: 16px;font-weight: 600;}
.bsd--news-exp{font-size: 15px;color: #666;}
.bsd--news-date{display: flex;align-items: center;padding-top: 16px;border-top: 1px solid #ddd;margin-top: 24px;font-size: 13px;color: #666;display: flex;align-items: center;}
.bsd--news-date .material-symbols-outlined{font-size: 16px;margin-top: 0.15em;margin-right: 0.4em;}

.bsd--event-thumbImg{padding-top: 81%;border: 1px solid #000;border-radius: 8px;background-size: cover;background-position: center center;background-repeat: no-repeat;}
.bsd--event-text{margin-top: 16px;}
.bsd--event-info{display: flex;align-items: center;margin-top: 16px;}
.bsd--event-info .material-symbols-outlined{font-size: 16px;margin-top: 0.05em;}
.bsd--event-info p{display: flex;font-size: 14px;color: #666666;}
.bsd--event-info p:first-child{margin-right: 10px;}

@media all and (max-width:768px){
    .bsd--newsSwiper .swiper-slide{padding:16px 20px;}
    .bsd--text01{font-size: 20px;}
    .bsd--textBox{padding: 40px 0 32px;}
    .bsd--news-tag span{padding: 6px 10px;font-size: 12px;}
    .bsd--news-title{font-size: 15px;}
    .bsd--news-exp{font-size: 14px;}
    .bsd--news-date{font-size: 12px;}
    .bsd--news-date .material-symbols-outlined{font-size: 14px;margin-top: 0;}
    .bsd--event-date{font-size: 12px;}
}
.bsd--swiperContainer{position: relative;}
.bsd--newsSwiper-prev{top: 50%;left: 0;transform: translate(-50%,-50%);}
.bsd--newsSwiper-next{top: 50%;right: 0;transform: translate(50%,-50%);}

.bsd--eventSwiper-prev,
.bsd--newsSwiper-prev,
.bsd--eventSwiper-next,
.bsd--newsSwiper-next{width: 48px;height: 48px;display: block;cursor: pointer;position: absolute;z-index: 2;}

.bsd--eventSwiper-next{top: 40%;right: 0;transform: translate(50%,-50%);}
.bsd--eventSwiper-prev{top: 40%;left: 0;transform: translate(-50%,-50%);}

.bsd--eventSwiper-next img,
.bsd--newsSwiper-next img,
.bsd--eventSwiper-prev img,
.bsd--newsSwiper-prev img{display: block;width: 100%;}
.swiper-button-disabled{background-color: rgba(255,255,255,0.3);border-radius: 50%;cursor: default;}
.swiper-button-disabled img{opacity: 0.2;}

@media all and (max-width:768px){
    .bsd--eventSwiper-prev,
    .bsd--newsSwiper-prev,
    .bsd--eventSwiper-next,
    .bsd--newsSwiper-next{width: 30px;height: 30px;}
}
@media all and (max-width:481px){
    .bsd--eventSwiper-prev,
    .bsd--newsSwiper-prev,
    .bsd--eventSwiper-next,
    .bsd--newsSwiper-next{display: none;}
}